body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 2px solid #deb887;
}
article {
    flex: 2;
    overflow-y: auto;
    border: 2px solid #deb887;

}
aside {
flex: 1;
overflow-x: auto;
}
header, footer {
    flex: none;
    background-color: #deb887;
    color: #000;
    padding: 10px;
    text-align: center;
}
